# API 
API_ENABLED=true
API_PORT=81
API_AUTH_KEY=

# Webpage (frontend interface)
BASE_URL=https://127.0.0.1
WEBPAGE_ENABLED=true
WEBPAGE_PORT=80
WEBPAGE_MYSQL_DATABASE=billinginterface
WEBPAGE_MYSQL_HOST=127.0.0.1
WEBPAGE_MYSQL_USER=billinguser
WEBPAGE_MYSQL_PASSWORD=

# Archive
ARCHIVE_ROOT_PATH=/var/lib/billing-interface/archive
LOG_FILE_PATH=/var/lib/billing-interface

# Metadata (forces senders to send all custom requirements)
CUSTOM_REQUIREMENTS_FORCED=true