<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Billing Interface - GoBD Archiv</title>

    {{ headsection }}
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <script type="text/javascript" src="/static/js/viewloader.js"></script>
    <script type="text/javascript" src="/static/js/keywords.js"></script>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
</head>
<body>
	<div class="dashboard-wrapper">
		<div class="dashboard-container">
			<h5 class="db-headline">
            	<img width="40" class="bg-dark" src="/static/img/icon.png">
                Billing-Interface
                <br>
                Dashboard
            </h1>
            <span class="db-hr"></span>
            <span class="db-info"><i class="fas fa-cloud"></i>Systeminformationen</span>
            <a class="db-item" href="#backup" onclick="loadView(0)">Statistik</a>
            <a class="db-item" href="#backup" onclick="loadView(1)">Backupsystem</a>
            <span class="db-hr"></span>
            <span class="db-info"><i class="fa-solid fa-box-archive"></i> Archiv</span>
            <a class="db-item" href="#entries" onclick="loadView(2)">Dokumente einsehen</a>
            {% if isAuthorized(uid, WebPermission.ARCHIVE_WRITE) %}
            <a class="db-item" href="#upload" onclick="loadView(3)">Datei hochladen</a>
             {% /if %}
            <a class="db-item" id="exportOptions" href="#export" onclick="exportFilteredPopup.show()">Exportieren</a>
            <span class="db-hr"></span>
            <a class="exit-btn" href="/">
                <i class="fa-solid fa-house"></i>
                Startseite
            </a>
        </div>
        <div class="dashboard-page">
            
            <!-- views -->
            <div class="element-box" data-viewid="0">
            	<h4>Statistiken</h4>
            	<hr>
            	<dt>Dateien insgesamt</dt>  <dd> {{ entries.size() }}</dd>
            </div>
            
            <div class="element-box" data-viewid="1">
	           	<h4>
	           		Backupsystem
	           		<span class="env-pill">
						<span class="env-dot {% if !api_active %}inactive{% /if %}"></span>
						{% if api_active %}
						<span>Aktiv</span>
						{% else %}
						<span>Inaktiv</span>
						{% /if %}
			        </span>
	           	</h4>
	           	<hr>
	           	<dl>
			  		<dt>Letztes Backup</dt>  <dd> {{ backupsys.getLastBackupDate() }}</dd>
				  	<dt>Backup Server</dt> <dd>{{ backupsys.isAvailable() }}</dd>
				</dl>
           </div>
            <div name="filter" class="element-box" data-viewid="2">
            	<h3>Dokumente</h3>
            	<input type="button" name="" value="Filter anpassen" onclick="listFilterPopup.show()" class="filter-btn btn btn-primary">
            	<hr>
       			
            	<table class="file-table">
				    <tr class="headline-row">
				        <td class="headline-col"> </td>
				        <td class="headline-col">Eintrag</td>
				        <td class="headline-col">Aktionen</td>
				    </tr>
					
					{% if !entries.isEmpty() %}
					{% iterate ent : entries %}
				    <tr class="tbl-itm-row">
				        <td class="tbl-itm-col">
				            <i class="fa-regular fa-file" style="color: rgb(193, 108, 85);"></i>
				        </td>
				        <td class="tbl-itm-col stretched">{{ent}}</td>
				        <td class="tbl-itm-col">
				            <button onclick="view('{{ent}}')" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye fa-2xs"></i>Ansicht</button>
				            {% if isAuthorized(uid, WebPermission.ARCHIVE_WRITE) %}
				            <button onclick="verify('{{ent}}')" class="btn btn-secondary btn-sm"><i class="fa fa-check fa-2xs" aria-hidden="true"></i>Validieren</button>
				            {% /if %}
				            <button onclick="exportSingle('{{ent}}')" class="btn btn-secondary btn-sm"><i class="fa fa-download fa-2xs" aria-hidden="true"></i>Exportieren</button>
				        </td>
				    </tr>
				    {% /iterate %}
				    {% else %}
				    <tr class="tbl-itm-row">
				        <td class="tbl-itm-col">
				        	<i class="fa-regular fa-file" style="color: rgb(193, 108, 85);"></i>
				            <!--<i class="fa-solid fa-file-excel" style="color: rgb(193, 108, 85);"></i>
				            <i class="fa-regular fa-image" style="color: rgb(193, 108, 85);"></i>
				            <i class="fa-solid fa-file-csv" style="color: rgb(193, 108, 85);"></i>
				            <i class="fa-solid fa-file-lines" style="color: rgb(193, 108, 85);"></i>-->

				        </td>
				        <td class="tbl-itm-col stretched">Keine Einträge vorhanden.</td>
				        <td class="tbl-itm-col">
				            /
				        </td>
				    </tr>
				    {% /if %}
				</table>
			            	
            </div>
            
            {% if isAuthorized(uid, WebPermission.ARCHIVE_WRITE) %}
            <form class="element-box" id="upload" data-viewid="3">
            	<h3>Hochladen</h3>
            	<hr>
            	<input type="file" name="attachment" class="form-control" required>
            	<select name="entry_type" class="form-control" required>
            		<option disabled selected>-- Eintragstyp wählen --</option>
            		 {% iterate type : entryTypes %}
            		 <option value={{type}} data-translate={{type}}>{{type}}</option>
            		 {% /iterate %}
            		
            	</select>
            	<input type="button" name="reference" class="btn btn-primary" value="Referenz auswählen">
            	<br>
            	<br>
            	{% if customRequirementsForced %}
            	{% iterate r : customRequirements %}
            	<input type="text" name="{{ r }}" placeholder="{{ r }}" required>
            	<br>
            	{% /iterate %}
            	{% /if %}
            	<br>
            	<input type="button" value="Hochladen" onclick="commit()" class="btn btn-success">
            	
            </form>
            {% /if %}
            <!-- /views -->
        </div>
    </div>
    {{ messagescript }}
    <script type="text/javascript">
	  	//todo:: remove
	    const testFilter = {
	        type: null,
	        from: null,
	        to: null,
	        customKey: null,
	        customValue: null,
	        hash: null,
	        archiveId: null
	    };
	
	    // constant static popups
	    const listFilterPopup = new PopupListFilter({{ entryTypes }},
	    		document.querySelector(".file-table"),
	    		document.querySelector(".filter-btn"),
	    		{ inputValues: testFilter });
	    const exportFilteredPopup = new PopupExportOptions();
	
	    window.addEventListener('load', function() {
	    	listFilterPopup.initialize();
	    	exportFilteredPopup.initialize();
	        
	     	// translate
		    document.querySelectorAll('option[data-translate]').forEach(el => {
			    const key = el.getAttribute('data-translate');
			    el.innerHTML = Translation.getTranslation('german', key);
			});
	    });
    </script>
</body>
</html>