<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Billing Interface - GoBD Archiv</title>
    {{ headsection }}
</head>
<body>
{{ navigation }}
<div class="container py-5">
	<br>
	<div class="element-box">
		<h3 class="mb-4 text-center">GoBD Archiv – Web Interface</h3>
		<hr>
		<p>
			Ein Zugang zu dem 
			<strong title="Grundsätze zur ordnungsmäßigen Führung und Aufbewahrung von Büchern, Aufzeichnungen und Unterlagen
			 in elektronischer Form sowie zum Datenzugriff">GoBD</strong>-konformen <strong>Archivsystem</strong>, das durch ein strenges Rollenkonzept
			  und eine lückenlose Historisierung sicherstellt, 
	   </p>
		<p>
			dass Belege unveränderbar und jederzeit gesichert werden können und zugriffbereit sind. 
		</p>
		<p>
			Es bietet einen direkten Datenzugriff für Betriebsprüfer, sowie den Export
			steuerrelevanter Unterlagen.
		</p>
		
	</div>
</div>
{{ footer }}
{{ messagescript }}
</body>
</html>