<footer class="footer">
	<span onclick="window.location.href = 'https://libraya.net';" class="footer-item">
		<img width="24px" height="24px" src="static/img/icon.png">
		BillingInterface
	</span>
	<a class="footer-item" href="/)">Über uns</a>
	<hr>
	<div class="footer-item">
 		<a class="footer-item" href="#">Verfahrensdokumentation</a>
   	 	<br>
        <a class="footer-item" href="/api_documentation">API Dokumentation</a>
     	<br>
    </div>
    <div class="footer-item">
    	<a class="footer-item" href="/privacy_policy">Datenschutzerklärung</a>
       	<br>
        <a class="footer-item" href="/impressum">Impressum</a>
        <br>
    </div>
</footer>